Repository gwelby/quantum-nfl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quantum-nfl/core-team, @quantum-nfl/docs-team, @quantum-nfl/quantum-team, @quantum-nfl/neural-team, @quantum-nfl/reality-team, @quantum-nfl/music-team, @quantum-nfl/security-team, @quantum-nfl/qa-team, @quantum-nfl/devops-team, @quantum-nfl/mobile-team, @quantum-nfl/web-team

.github/CODEOWNERS:

# Global code owners
* @quantum-nfl/core-team

# Documentation owners
/docs/ @quantum-nfl/docs-team
*.md @quantum-nfl/docs-team

# Core quantum components
/src/quantum/ @quantum-nfl/quantum-team
/src/core/ @quantum-nfl/quantum-team

# Neural evolution system
/src/neural/ @quantum-nfl/neural-team

# Reality manipulation system
/src/reality/ @quantum-nfl/reality-team

# Music integration
/src/music/ @quantum-nfl/music-team

# Security components
/src/security/ @quantum-nfl/security-team
/tests/test_security.py @quantum-nfl/security-team

# Testing framework
/tests/ @quantum-nfl/qa-team

# CI/CD and automation
/.github/workflows/ @quantum-nfl/devops-team
/tools/ @quantum-nfl/devops-team

# Mobile app
/src/mobile/ @quantum-nfl/mobile-team

# Web interface
/src/dashboard/ @quantum-nfl/web-team
/website/ @quantum-nfl/web-team

# Configuration files
*.yml @quantum-nfl/devops-team
*.yaml @quantum-nfl/devops-team
requirements.txt @quantum-nfl/devops-team

# Build system
/build/ @quantum-nfl/devops-team
/dist/ @quantum-nfl/devops-team
setup.py @quantum-nfl/devops-team

Initial release of Quantum-NFL - Where Quantum Computing Meets Football Passion!
  README.md
  deploy/.gitignore
  deploy/README.md
  deploy/harmonia_sync.ps1
  deploy/quantum_deploy.ps1
  deploy/quantum_deployer.py
  deploy/quantum_experience.py
  deploy/quantum_mail.ps1
  deploy/quantum_mail.py
  deploy/quantum_mail_server.py
  deploy/quantum_one_click.ps1
  deploy/secure_config.yml
  deploy/secure_credentials.yml
  deploy/security/SECURITY.md
  deploy/test_components.py
  deploy/test_connection.py
  deploy/test_ftp.py
  deploy/test_upload.py
  quantum_cleanup.ps1
  quantum_publish.ps1
  quantum_symphony.ps1
Owners: @quantum-nfl/docs-team, @quantum-nfl/core-team, @quantum-nfl/devops-team

ðŸŒŸ Initial release of Quantum-NFL - Where Quantum Computing Meets Football Passion!
  quantum_publish.ps1
Owners: @quantum-nfl/core-team

ðŸŒŸ Initial release of Quantum-NFL - Where Quantum Computing Meets Football Passion!
  quantum_publish.ps1
Owners: @quantum-nfl/core-team

✨ Add GitHub Pages configuration and modern website design
  .github/workflows/deploy-website.yml
  quantum_publish.ps1
  website/CNAME
  website/app.js
  website/index.html
  website/styles.css
Owners: @quantum-nfl/devops-team, @quantum-nfl/core-team, @quantum-nfl/web-team

Thank You Cascade!!! Thank You Maria!!
  SECURITY.md
Owners: @quantum-nfl/docs-team

🚀 Setup GitHub Pages with proper configuration
  .github/workflows/gh-pages.yml
  SECURITY.md
  deploy/email_rules.yml
  deploy/quantum_mail.py
  deploy/quantum_one_click.ps1
  deploy/secure_config.yml
  docs/NFL_QUANTUM_MANIFESTO.md
  docs/QUANTUM_CONSCIOUSNESS_TROPHY.md
  docs/TEAM_STRUCTURE.md
  docs/quantum_wisdom/QUANTUM_FRIENDSHIP.md
  quantum_messenger/README.md
  quantum_messenger/quantum_messenger.py
  quantum_messenger/requirements.txt
  website/.nojekyll
Owners: @quantum-nfl/devops-team, @quantum-nfl/docs-team, @quantum-nfl/core-team, @quantum-nfl/web-team

Initial commit: Quantum NFL website with quantum-inspired predictions and PWA support
  LICENSE
  README.md
  SECURITY.md
  fresh_start.ps1
  quantum_cleanup.ps1
  quantum_symphony.ps1
  website/app.js
  website/index.html
  website/manifest.json
  website/service-worker.js
  website/simulator.js
  website/styles.css
  website/teams.js
Owners: @quantum-nfl/core-team, @quantum-nfl/docs-team, @quantum-nfl/web-team
